<!DOCTYPE html>
<html>
<head>
  <title>Blue Sargent</title>
</head>
<body>
  <h2>Blue Sargent</h2>
  <img class="blue" src="../views/images/blue.jpg" />
  <p>
    Blue Sargent is the protagonist of the Raven Cycle series. She comes from a family of psychics and is the only resident of her house to lack this ability. While she isn't psychic, she does have the ability to amplify others' powers. Blue is often described as eccentric and odd, due to her upbringing, appearance, and personality. Since birth, she has been told that if she were to kiss her true love, he would die.
  </p>
</body>
</html>
