<!DOCTYPE html>
<html>
<head>
  <title>Lyra Belacqua</title>
</head>
<body>
  <h2>Lyra Belacqua</h2>
  <img src="../views/images/lyra.jpg" />
  <p>Lyra Belacqua, also known as Lyra Silvertongue, is the heroine of Philip Pullman's His Dark Materials trilogy. Lyra is a young girl who inhabits a universe parallel to our own. Brought up in the cloistered world of Jordan College, Oxford, she finds herself embroiled in a cosmic war between Lord Asriel on the one side, and the first angel to come into being, called The Authority, and his Regent, called Metatron, on the other.</p>
</body>
</html>
