<!DOCTYPE html>
<html>
<head>
  <title>Mortimer "Mo" Folchart</title>
</head>
<body>
  <h2>Mortimer "Mo" Folchart</h2>
  <img src="../views/images/mo.jpg" />
  <p>
  Mortimer "Mo" Folchart is a fictional character in Cornelia Funke's Inkheart trilogy. He is a bookbinder and has the ability to bring fictional characters to life in the "real world" by reading aloud from books. He has a daughter named Meggie who also has the talent to bring characters out of books. His wife, named Resa, had spent some years in Inkworld when sucked into the book Inkheart.</p>

</body>
</html>
